@page {
    size: A4;
    margin: 2cm;
}

body {
    font-family: "Noto Sans JP", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

h1, h2, h3 {
    margin-bottom: 20px;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
    border-color: #dee2e6;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-bordered > :not(caption) > * {
    border-width: 1px 0;
}

.table-bordered > :not(caption) > * > * {
    border-width: 0 1px;
}

.kanji-cell {
    font-size: 2em;
    font-weight: bold;
}

.radical-info {
    font-size: 0.9em;
    color: #555;
}

.badge-type {
    font-size: 0.8em;
    padding: 0.2em 0.5em;
    background-color: #6c757d;
    color: white;
    border-radius: 4px;
}
